<div class="row" *ngIf="loadingData">
  <div class="col-md-12 text-center">
    <div class="spinner-grow position-absolute" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 pr-0">
    <div class="h3">{{request.type | humanize}}</div></div>
  <div class="col-sm-2 px-0">
    <label class="col-sm-3 p-0">Show</label>
    <select name="pageSize" id="pageSize" class="col-sm-6 input-sm custom-select" (change)="loadPage(data.page, selectedSize)" [(ngModel)]="selectedSize">
        <option *ngFor="let option of lengthMenu" [value]="option">{{option}}</option>
    </select>
    <label class="col-sm-3 p-0">records</label>
  </div>
  <div class="col-sm-3 page-info pt-1 text-center" *ngIf="data">
    <label class="text-italic text-sm">{{'Showing ' + fromRow + ' to ' + maxRows + ' of ' + (data.totalCount == data.filtered ? data.totalCount : data.filtered + " of " + data.totalCount) + ' records'}}</label>
  </div>
  <div class="col-sm-5 pl-0" *ngIf="data && data.pageCount > 1">      
      <nav aria-label="Page navigation">
        <ul class="pagination float-right">
          <li class="page-item">
            <button stop-propagation class="page-link" (click)="loadPage(0)" [disabled]="data.page == 0" href="#">First</button>
          </li>
          <li class="page-item">
            <button stop-propagation class="page-link" (click)="loadPage(data.page-5)" [disabled]="data.page < 6" href="#"><<</button>
          </li>
          <li class="page-item">
            <button stop-propagation class="page-link" (click)="loadPage(data.page-1)" [disabled]="data.page == 0" href="#">Previous</button>
          </li>
          <li class="page-item">
            <button stop-propagation class="page-link" (click)="loadPage(data.page - 1)" [hidden]="data.page == 0" href="#">{{ data.page }}</button>
          </li>
          <li class="page-item active">
            <a stop-propagation class="page-link" (click)="loadPage(data.page)" href="#">{{ data.page + 1}}</a>
          </li>
          <li class="page-item">
            <a stop-propagation class="page-link" (click)="loadPage(data.page + 1)" [hidden]="data.page >= data.pageCount - 1" href="#">{{ data.page + 2}}</a>
          </li>
          <li class="page-item">
            <button stop-propagation class="page-link" (click)="loadPage(data.page+1)" [disabled]="data.page >= data.pageCount - 1" href="#">Next</button>
          </li>
          <li class="page-item">
            <button stop-propagation class="page-link" (click)="loadPage(data.page+5)" [disabled]="data.page >= data.pageCount - 5" href="#">>></button>
          </li>
          <li class="page-item">
            <button stop-propagation class="page-link" (click)="loadPage(data.pageCount-1)" [disabled]="data.page >= data.pageCount - 1" href="#">Last</button>
          </li>
        </ul>
      </nav>
    </div>
</div>
<div class="row" *ngIf="data">
  <div class="col-md-12 text-center">
    <label class="text-italic d-block text-sm" [style.visibility]="!search ? 'hidden' : 'visible'">{{'filtered ' + data.filtered + " from total of " + data.totalCount + " records."}}</label>
    <input class="form-control" placeholder="search..." [(ngModel)]="search" (input)="searchChanged()" />
  </div>
</div>
<table class='table table-striped list-group' aria-labelledby="tableLabel" *ngIf="data && data.content">
  <tbody class="list-group scroll-y max-height-80vh border-color-gray border rounded">
    <tr *ngFor="let story of data.content" class="list-group-item">
      <td><a href="{{story.link}}">{{story.title}}</a> </td>
    </tr>
  </tbody>
</table>
