/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.scroll-y {
  overflow-y: auto;
}
.border-color-gray {
  border-color:#f2f2f2;
}
.border-1px {
  border: 1px solid;
}
.max-height-80vh {
  max-height: 75vh;
}
.text-italic{
    font-style: italic;
}
.text-sm{
    font-size: 12px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
